<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script type="text/javascript">
        let ingredients = <%- JSON.stringify(ingredients) %>
    </script>
    
    <script type="text/javascript" src="/script.js"></script>
    
    <title>MealMaker</title>
</head>
<body>

    <%- include("navbar.ejs") %>

    <h1>Welcome on MealMaker</h1>
    <p>Enter what ingredients you have to see what meals you can make with !</p>

    <div class ='container'>
        <select id="type">
            <option>-- Choose a category of Ingredient --</option>

            <% [...new Set(ingredients.map(item => item.category))].forEach((item) => { %>
                <option><%= item %></option>
            <% }) %>

        </select>
        
        <div id="ingredient" style="display: none;"></div>

        <form id="form_ingredient" action="/meals" method="post">
            <div id="saved_ingredient" style="display: flex; flex-direction: column;"></div>   

            <input type="submit" value="Search">
        </form>
        
    </div>
</body>
</html>
