<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>

    <script type="text/javascript">
        let ingredients = <%- JSON.stringify(ingredients) %>
    </script>
    
    <script type="text/javascript" src="/script.js"></script>
    
    <title>MealMaker</title>
</head>
<body>
    <h1>Welcome on MealMaker</h1>
    <p>Enter what ingredients you have to see what meals you can make with !</p>

    <div class ='container'>
        <select id="type">
            <option>-- Choose a category of Ingredient --</option>

            <% [...new Set(ingredients.map(item => item.category))].forEach((item) => { %>
                <option><%= item %></option>
            <% }) %>

        </select>
        
        <div id="ingredient" style="display: none;"></div>
        
        <form id="form_ingredient" action="/meals" method="post">
            <div id="saved_ingredient" style="display: flex; flex-direction: column;"></div>
            <br />
        
            <input type="submit" value="Search">
        </form>
    </div>
</body>
</html>
