.select-category {
    display: block;
    margin: 2px;
    flex: 8%;
    color: black;
    padding: 2px;
    text-align: center;
    align-items:center;

    input {
        display: none;
    }

    label {
        border-radius: 20px ;
        display: block;
        transition: transform 0.3s;
    }

    input:checked + label {
        background-color: rgba(23, 169, 35, 0.615);
        color : white;
    }

}    
.select-category:hover > label{
    cursor: pointer;
    transform: scale(1.4);
}