.cancel {
    position: relative;
    display: inline-block;

    button {
        margin-left: 10px;
        width: 47px;
        height: 47px;
        background: url(../../../public/images/Reset.svg) no-repeat;
        background-size: 45px;
        border: red 2px solid;  
    }
}

//Might should be in Recipe.scss
.recipe-elements {
    button {
        margin-left: 10px;
        width: 47px;
        height: 47px;
        background: url(../../../public/images/Previous.svg) no-repeat;
        background-size: 45px;
        border: none;
        cursor: pointer;
    }
}