#All-page {
    h1, h2, p {
        margin: 0;
    }

    #Navbar {
        margin: 0;
        padding: 0;
    }

    #body-container {
        margin: 0px;
        padding: 0px;
        background-image: linear-gradient(135deg, rgba(238, 222, 200, 0.356), rgba(209, 180, 145, 0.628));
    }

}





